# This is Git's per-user configuration file.
[alias]
	co = checkout
	ci = commit
	st = status
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  br = branch --sort=-committerdate
[color]
  ui = always
[core]
  pager = less -+XF
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
[init]
	defaultBranch = main
